*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #b0b3b8;
    font-weight: 600;
   
}
#parentDiv{
    align-items: center;
    width: 370px;
    height: 50px;
    border-radius: 10px;
    background-color: #242526;
    display: flex;
    gap: 20px;
    margin: 10px auto;
    padding: 10px 20px;
    
}
i{
    color: #b0b3b8;
    margin-right: 2px;
}
#textWrapper{
   display: flex;
   justify-content: center;
   visibility: hidden;
}
#textarea{
    /* margin: 0 auto; */
    /* text-align: center; */
    position: relative;  
    width: 370px; 
    height: 70px;
}
textarea{
    text-align: left;
    padding: 5px 5px;
    color: #cdd2db;
}

#like{
    padding: 5px 7px;
    border-radius: 5px;
}
#textarea a{
    position: absolute;
    bottom: 0;
    right: 10px;
}
#commentShow{
    margin: 0 auto;
    width: 370px; 
}